@using JobBoard.Models;

@{
  Layout = "_layout";
}

<h1>Welcome to Job's Jobs</h1>

@* <div>
  <h3></h3>
  <p><a href="/jobs/new">Post a Job</a></p>
  <p><a href="/jobs">View Job Openings</a></p>
  </div> *@