@{
  Layout = "_layout";
}

<h1> Post a Job</h1>

<form action="/jobs" method="post">
  <label for="title">Job Title:</label>
  <input id="title" name="title" type="text" value="JavaScript Developer">

  <label for="description">Job Description:</label>
  <input id="description" name="description" type="text"
    value="This job you will need to develop dynamic JavaScript sites.">

  <label for="contact">Contact Information:</label>
  <input id="contact" name="contact" type="text" value="503-524-5484">

  <button type="submit" class="btn btn-success">Submit</button>
</form>
