<h2>Navigation Bar</h2>
<p><a href='/'>Main Page</a></p>
<p><a href='/jobs'>View all jobs</a></p>
<p><a href='/jobs/new'>Add another job</a></p>

<h1>To Do List Item Details: </h1>

<h2>@Model.Title</h2>
