@{
  Layout = "_layout";
}

<h1>Job Details: </h1>

<h3>@Model.Title</h3>
<p>@Model.Description</p>
<p>@Model.Contact</p>

<form action="/jobs/@Model.Id" method="post">
  <button type="submit" class="btn btn-danger">Delete job</button>
</form>